<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Блог Евгения Климова</title>
</head>
  <body>
    <h1>Блог Евгения Климова</h1>
    {{range $key, $value := .}}
      <a href="/posts/{{$key}}"><h2>{{.Title}} ({{.Date}})</h2></a>
      <p>{{.Summary}}</p>
    {{end}}
  </body>
</html>
